/*=================================================================
	Basic Setup css
==================================================================*/
html {
    font-size: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
  /*font-family: 'Raleway', sans-serif;*/
  font-family: CircularStdBook;
  font-size: 14px;
  color: #222222;
  font-weight: normal;
  overflow-x: hidden;
  line-height: 20px;
}


@font-face{
  font-family: 'Rubik-Regular';
  src: url('../../Rubik/Rubik-Regular.ttf');
}

@font-face{
  font-family: 'Rubik-Light';
  src: url('../../Rubik/Rubik-Light.ttf');
}

@font-face{
  font-family: 'Rubik-Medium';
  src: url('../../Rubik/Rubik-Medium.ttf');
}

@font-face{
  font-family: 'Rubik-Bold';
  src: url('../../Rubik/Rubik-Bold.ttf');
}

@font-face{
  font-family: 'CircularStdBook';
  src: url('../../circularstd/CircularStdBook.otf');
}

@font-face{
  font-family: 'CircularStdMedium';
  src: url('../../circularstd/CircularStdMedium.ttf');
}

@font-face{
  font-family: 'CircularStdBold';
  src: url('../../circularstd/CircularStdBold.ttf');
}

@font-face{
  font-family: 'CircularStdBlack';
  src: url('../../circularstd/CircularStdBlack.ttf');
}


@font-face{
  font-family: 'SFProText-Bold';
  src: url('../../SFProText/SFProText-Bold.ttf');
}

@font-face{
  font-family: 'Gilroy-Bold';
  src: url('../../Gilroy/Gilroy-Bold.ttf');
}


a,
a:active,
a:hover,
a:focus,
a:visited{
	text-decoration:none;
	/*background:transparent;*/
	outline:none;
	color:inherit;
}

/*a:hover{
	color: #663fb5 !important;
}*/

button:focus{
	outline:none;
}

li{
	/*list-style:none;*/
}

article,
figure,
footer,
header,
nav,
section{
	display:block
}

select:focus {
    outline-offset:0;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}





a:focus, a:hover {
    	text-decoration:none !important;
	}


.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
  /*border: 2px solid #FFFFFF;*/
  color: #ffffff;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.header-body {
  height: calc(100vh - 80px);
}

#form .input-group input[class="form-control"] {
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  color:#222;
  padding:7px 12px;
  border-right-width:0;
}

#form .input-group select[class="form-control"] {
  border-radius:50px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  font-size:17px;
  width:100px;
  color:#222;
  border-left-width:0;
}

.form-control:focus {
    border:1px solid #ccc !important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 86, 33, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 2px rgba(0, 0, 0, .6) !important;
}

.form-group1 .form-control:focus {
    border:none!important;
    outline:0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    border-bottom:1px solid brown !important;
}


	


::-webkit-scrollbar{
	height: 7px;
	width: 7px;
}
::-webkit-scrollbar-track{
	border-radius: 50px;
	/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);*/
}
::-webkit-scrollbar-thumb{
	border-radius: 1px;
	background-color: #a7a7a7;
}

/*=================================================================
  Dashboard Css
==================================================================*/


/*adminsection*/
.leftbar{
  position: fixed;
  /*padding-top: 42px;*/
  padding-top: 6%;
  left: 0%;
  /*top: 0%;*/
  background-color: #ffffff;
  /*border-right: 1px solid #c0bebe33;*/
  border-right: 1px solid #e3e3e3;
  width: 256px;
  height: 100%;
  transition: all .6s ease;
  overflow-y: scroll;
  overflow-x: hidden;
}
.leftbart{
  position: fixed;
  /*padding-top: 42px;*/
  padding-top: 1%;
  left: 0%;
  /*top: 0%;*/
  background-color: #ffffff;
  /*border-right: 1px solid #c0bebe33;*/
  border-right: 1px solid #e3e3e3;
  width: 256px;
  height: 100%;
  transition: all .6s ease;
  overflow-y: scroll;
  overflow-x: hidden;
}

.leftbar::-webkit-scrollbar {
    width: 0px;
}
.leftbart::-webkit-scrollbar {
    width: 0px;
}
.butt_section{
  padding: 35px;
}
.leftbar p {
  /*font-family: Raleway-Medium;*/
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #595959;
  background-color: white;
  padding: 8px 16px;
  margin-bottom: 0;
  cursor: pointer;
  /*text-align: center;*/
  line-height: 26px;
}

.__dashnotif {
    position: absolute;
    /* margin-top: 18px; */
    color: #ea4335;
    font-size: 8px;
    /* margin-left: -11px; */
  }

  .deleteBox .delete {
  cursor: pointer;
  color: #ffffff;
  margin-top:10px;
  float: right;
}

.leftbart p {
  /*font-family: Raleway-Medium;*/
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #595959;
  background-color: white;
  padding: 12px 16px;
 /* margin-bottom: 10%;*/
  cursor: pointer;
  /*text-align: center;*/
  line-height: 23px;
}
.dashboard_name {
    padding: 2px;
    margin-left: 16%;
    margin-bottom: 10%;
}
.leftbar i {
    float: left;
    padding: 4px;
}
.leftbart i {
    float: left;
    padding: 4px;
}
.activedashboard{
  /*background-color: #f9f9f9 !important;*/
  /*font-family: Raleway-Bold !important;*/
  font-size: 14px !important;
  font-weight: 600 !important;
  letter-spacing: 0.4px;
    /*color: #595959 !important;*/
    border-left: 4px solid #298FCE !important;
    /*border: 1px solid #f0842d;*/
    color: #298FCE !important;
    /*width: 197px;*/
    width: 100%;
}


/*end*/



/*hover on dropdown and drop*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
/*hover on dropdown and drop end*/


/*=================================================================
  Custom Css
==================================================================*/

.__pl{
  padding-left: 0;
}

.__pr{
  padding-right: 0;
}

.__p{
  padding: 0;
}


/*carouse; top*/
.__carousel-innert{
  background-color: rgba(41, 39, 39, 0.6) !important;
}


.__carousel-innert>.item> .__img{
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /*clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);*/
  height: 100vh;
}

.__carousel-controlt{
  width: 5%;
  top: 46%;
  /*left: 90%;
  right: 2% !important;*/
  z-index: 999999;
}

.__carousel-controlt span{
  font-size: 20px !important;
  /* border: 1px solid #ffffff; */
  border-radius: 50%;
  padding: 2px 9px;
  background: #ffffff;
  color: #1e00ce;
  text-shadow: none;
}

.__carousel-controlt.left{
  background-image: linear-gradient(to right,transparent 0,transparent 100%);
}
.__carousel-controlt.right{
  background-image: linear-gradient(to right,transparent 0,transparent 100%);
}

/*.__carousel-caption p{
  font-size: 32px;
  font-family: CircularStdMedium;
  line-height: 1.1;
  margin-top: -35%;
}*/
.__carousel-caption p {
    font-size: 24px;
    font-family: CircularStdBook;
    line-height: 1.1;
    margin-top: -104%;
  }

/*.__carousel-indicators {
    bottom: 43%;
}*/

.__carousel-indicators {
  bottom: 30%;
}

/*.__main-textt{
    position: relative;
    margin-top: -47%;
}*/

.__main-textt {
  position: relative;
  margin-top: -186%;
}

.__main-textt .__logo{
  width: 135px;
}

/*.__colat{
  font-family: Rubik-Medium;
  color: #ffffff !important;
  border: 1px solid #cee2e26e;
  border-radius: 5px;
  padding: 10px 50px;
  margin-top: 30%;
}*/

.__colat {
  font-size: 14px;
  font-family: Rubik-Medium;
  color: #ffffff !important;
  border: 1px solid #cee2e26e;
  border-radius: 5px;
  padding: 10px 60px;
  margin-top: 140%;
}

/*carouse; top end*/

.__formdiv{
  margin-top: 40%;
}

.__formdivc{
  margin-top: 12%;
}

.__legend{
  font-size: 30px;
}
.__legendent{
  font-size: 16px;
  line-height: 1.1;
  font-family: Rubik-Medium;
}

.__legendhr{
  margin-top: 1px;
  margin-bottom: 20px;
  border: 0;
  border-top: 4px solid #70707024;
}

.__formlabe{
  font-size: 16px;
  color: #707070db;
  font-weight: 100;
}

.__formc{
  height: 39px;
  background-color: #70707024;
  border-radius: 2px;
  border: 1px solid #70707000;
  box-shadow: none !important;
}

.__formc:focus{
  box-shadow: none !important;
}

.__formbtn{
  background: #00ce88 !important;
  color: #ffffff !important;
  padding: 9px 0;
  margin-top: 10%;
  outline: none !important;
  font-size: 18px;
}

.__resetlink{
  color: #333333 !important;
  font-family: Rubik-Medium;
  opacity: 60%;
  margin-top: 10%;
}

.__resetlink span{
  color: #00ce88 !important;
}

.__konp{
  color: #00ce88;
  font-family: CircularStdBlack;
  font-size: 20px;
}

.__konp1{
  color: #ffffff;
}
.__konp2{
  color: #00ce88;
}

.__allimgbg{
  background-image: url(../img/topbarbg.png);
background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 40px 0 10px;
  /*height: 146px;*/
}


.__allimgbg1{
  background-image: url(../img/topbarbg.png);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 69px 0 10px;
  height: 146px;
}

#picture_preview{
  /*max-width: 100px;
  max-height: 100px;*/
  width: 90px;
  height: 90px;
  transition: all 1s ease-in;
}

.__picture{
  /*width: 102px;*/
  /*height: 195px;*/
  /*position: relative;*/
  cursor: pointer;
  text-align: center;
  /*margin-top: -30px;*/
}

.__picture img{
  width: 100%;
  height: 100%;
  /*border: 1px solid #979797;*/
  transition: all 2s ease;
}
.__picture input {
   cursor: pointer;
    position: absolute;
    display: block;
    margin-top: -91px;
    left: 22px;
    opacity: 0;
    height: 93px;
    width: 90px;
}

/*.__picture .__pimg {
    position: absolute;
    margin-top: 53px;
    width: 32px;
    height: 32px;
    margin-left: -30px;
}*/

.__profileimg{
  width: 90px;
  height: 90px;
  border-radius:50%;
}

.__profp{
  background-color: #70707024;
  border-radius: 2px;
  border: 1px solid #70707000;
  padding: 9px 12px;
  color: #707070c7;
}

.__editc{
  color: #00ce88 !important;
  margin-top: 10px;
}

/*switch css*/
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 13px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: #002c1d;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 20px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 20px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.__switchc{
  background: #00ce88;
}
/*switch css end*/

.__mapselect {
    background: #ffffff;
    color: #00ce88;
    border: 1px solid #ffffff !important;
    box-shadow: none !important;
    cursor: pointer;
    /*width: 40%;*/
    padding: 6px 0;
}

.__mapselect:focus {
    background: #ffffff;
    border: 1px solid #ffffff !important;
    box-shadow: none !important;
}

.__swin{
  color: #33333359;
}

.__sethr{
    margin-top: 0px;
    margin-bottom: 6px;
}

.__swin1{
  font-size: 16px;
  color: #002c1d;
}

.__mobnav-tabs>li>a {
  border: 1px solid #3333337a;
  color: #333333;
  border-radius: 50px;
  font-family: Rubik-Medium;
  padding: 7px 14px;
}

.__mobnav-tabs>li.active>a, .__mobnav-tabs>li.active>a:focus, .__mobnav-tabs>li.active>a:hover {
  color: #00ce88;
  cursor: default;
  background-color: #fff;
  border: 1px solid #00ce88;
  border-bottom-color: #00ce88;
 }

.__mobnav-tabs{
  border-bottom: 1px solid transparent;
}

.__inventorycard{
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  padding: 6px 10px;
  margin-top: 10px;
}

.__qty{
  color: #33333359;
  font-family: Rubik-Medium;
  font-weight: 600;
}

.__prodn{
  font-family: Rubik-Medium;
  font-weight: 600;
  font-size: 12px;
}

.__prodn1{
  color: #333333;
  font-size: 10px;
  margin-top: -10px;
}

.__qty1{
  border: 1px solid #00ce8833;
  background: #00ce880d;
  text-align: center;
  border-radius: 2px;
  font-family: Rubik-Medium;
  font-weight: 600;
  color: #002c1d;
  font-size: 12px;
}

.__qty2{
  border: 1px solid #00ce8833;
  background: #00ce880d;
  text-align: center;
  border-radius: 2px;
  font-family: Rubik-Medium;
  font-weight: 600;
  color: #00ce88;
  font-size: 12px;
}

.__ricon{
  color: #00ce88;
  margin-top: 22px;
  float: right;
}

.__td{
  font-family: Rubik-Medium;
  font-weight: 600;
}

.__totalp{
  color: #002c1d;
  font-family: Rubik-Medium;
  font-weight: 600;
  margin-top: 10px;
}

.__tot{
  border: 1px solid #00ce8833;
    background: #00ce880d;
    text-align: center;
    border-radius: 2px;
    font-family: Rubik-Medium;
    font-weight: 600;
    color: #00ce88;
    font-size: 18px;
    padding: 6px;
}

.__paymentcard{
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  /*padding: 6px 10px;*/
  margin-top: 15px;
}

.__inncard{
  padding: 10px;
  text-align: center;
}

.__inncard1{
  padding: 35px 10px;
  text-align: center;
}

.__cardcolor {
  background: #00ce88;
  padding: 2px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.__cashp{
  color: #002c1d;
  font-size: 16px;
  margin-top: 5px;
}


/*product increase css*/
  span {cursor:pointer; }
    .number{
      /*margin:100px;*/
    }
    .minus, .plus{
      width: 18px;
      height: 19px;
      background: #00ce88;
      border-radius: 50%;
      /* padding: 8px 5px 8px 5px; */
      border: 1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      color: #ffffffcc;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    }
    .__procount{
      height: 19px;
      width: 20%;
      text-align: center;
      /* font-size: 26px; */
      border: 1px solid transparent;
      border-radius: 4px;
      background: transparent;
      display: inline-block;
      vertical-align: middle;
      padding-top: 4px;
    }

/*product increase css end*/



/* The check */
.check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    padding-right: 15px;
    cursor: pointer;
    color: #212121;
  line-height: 1.57;
  /*font-family: Roboto-Bold;*/
    /*font-size: 18px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 100;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
   position: absolute;
  top: 3px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 2px solid #00ce88;
}



/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    /*background-color: #000000  ;*/
    background-color: transparent;  ;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
    border-color: #ff4444;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 5px;
    top: -7px;
    width: 7px;
    height: 14px;
    border: solid ;
    border-color:#000000;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.check .round:after {
    left: 4px;
}
/*end*/

.__inncardm{
  padding: 10px 0 0px;
  text-align: center;
}

.__cashmore{
  color: #002c1d;
  /* font-size: 14px; */
  margin-top: 5px;
}

.__cashmore1{
  color: #002c1d;
  font-size: 18px;
  margin-top: 5px;
}
.__moreimg{
  width: 34px;
}

.__search{
  background-image: url(../img/search.png);
  background-position: 2%;
  background-repeat: no-repeat;
  /* font-size: 18px; */
  padding: 0px 9px 0 24px;
  /* border-color: #212121; */
  background-color: #ffffff29;
  color: #ffffff;
  border-radius: 5px;
  height: 45px;
  box-shadow: none;
  border: 1px solid #ffffff00;
     /*margin-top: 10px; */
     box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.16);
}


.__search:focus {
    border: 1px solid #ffffff29 !important;
    box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.09), 0 0 2px rgba(51, 51, 51, 0.09) !important;
}

.__avalp{
  color: #002c1d;
  font-family: Rubik-Medium;
  font-weight: 600;
}

.__avalbtn{
  color: #ffffff !important;
  background: #00ce88;
  font-family: Rubik-Medium;
  margin-top: -10px;
}

.__selemt{
  color: #3333336b;
    font-size: 18px;
}
.__makesale{
  color: rgba(0, 0, 0, 0.32);
    font-size: 10px;
}

.__scrollquery {
  max-height: 376px;
  overflow-y: scroll;
  overflow-x: hidden;
  /*visibility: hidden;*/
  position: relative;
}

.__scrollquery::-webkit-scrollbar {
    width: 3px !important;
}

.__scrollquery::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    border-radius: 50px !important;
    background-color: #00ce88 !important;
}

.__scrollquery::-webkit-scrollbar-track {
    background: rgba(0, 206, 136, 0.16);
}


div,
.__scrollquery:hover,
.__scrollquery:focus {
  visibility: visible;
}

.__shiftp{
  font-family: Rubik-Medium;
  font-weight: 600;
}

.__shiftp1{
  font-family: Rubik-Regular;
  margin-top: -6px;
}

.__shiftdiv{
  margin-top: 10px;
}

.__shiftdiv p{
  border: 1px solid #00ce8833;
  background: #00ce880d;
  text-align: center;
  border-radius: 2px;
  font-family: Rubik-Medium;
  /* font-weight: 600; */
  color: #00ce88;
  font-size: 10px;
  margin-top: 10px;
}

.__shiftdiv1{
  margin-top: 10px;
}

.__shiftdiv1 p{
  border: 1px solid rgba(206, 0, 0, 0.2);
  background: rgba(206, 0, 0, 0.05);
  text-align: center;
  border-radius: 2px;
  font-family: Rubik-Medium;
  /* font-weight: 600; */
  color: #ce0000;
  font-size: 10px;
  margin-top: 10px;
}


.__mobnav-tabsif>li.active>a, .__mobnav-tabsif>li.active>a:focus, .__mobnav-tabsif>li.active>a:hover{
  color: #00ce88;
  cursor: default;
  background-color: #fff;
  border: 1px solid #00ce88;
  border-bottom-color: #00ce88;
}

.__mobnav-tabsif>li>a {
  border: 1px solid #3333337a;
  color: #333333;
  border-radius: 50px;
  font-family: Rubik-Medium;
  padding: 6px 17px;
  margin-right: 20px;
}

.__mobnav-tabsif{
  border-bottom: 1px solid transparent;
}

.__welcard{
  margin-top: 55%;
}

.__welp{
  color: #333333;
  font-size: 20px;
  margin-top: 10px;
}

.__welp1{
  font-size: 15px;
  color: #333333a3;
}

.__gen{
  color: #00ce88;
  font-family: Rubik-Medium;
  font-size: 15px;
  margin-top: 15px;
}

.__analp{
  color: #d4d4d47d;
  font-family: Rubik-Medium;
}

.__analp1{
  color: #ffffff;
  font-family: Rubik-Medium;
  font-size: 16px;
}

.__chatimgbg{
  background-image: url(../img/ChartBg.png);
background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 10px 0 20%;
  /*height: 100vh;*/
}

.__anatop{
  margin-top: -127px;
}

.__analcard{
  background: #ffffff;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  padding: 15px 10px 0px;
  /*margin-top: 10px;*/
}

.__analnav-tabs>li>a {
  border: 1px solid #3333337a;
  color: #00ce88 !important;
  border-radius: 50px;
  background: #00ce881f;
  border: 1px solid #00ce881f;
  /*font-family: Rubik-Medium;*/
  font-size: 12px;
  padding: 7px 12px;
  margin-right: 16px;
}

.__analnav-tabs>li.active>a, .__analnav-tabs>li.active>a:focus, .__analnav-tabs>li.active>a:hover {
  color: #00ce88;
  cursor: default;
  background: #00ce881f;
  border: 1px solid #00ce881f;
 }

.__analnav-tabs{
  border-bottom: 1px solid transparent;
}

.__anasal{
  border: 1px solid #00ce88;
  border-radius: 50px;
  padding: 2px;
  color: #00ce88;
  font-family: Rubik-Regular;
}

.__analpr{
  color: #002c1d;
  font-size: 18px;
  font-family: CircularStdBlack;
}

.__analpr1{
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  margin-top: -9px;
  font-family: Rubik-Regular;
}

.__analsele{
  height: 27px;
  padding: 4px 6px;
  font-size: 12px;
  color: #00ce88;
  background-color: transparent;
  background-image: none;
  border: 1px solid #00ce88;
  border-radius: 50px;
  margin-top: 50%;
}

.__analhr{
  margin-top: 0;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #49695e;
}

.__compid{
  font-size: 12px;
  color: #00ce8885;
}

.__homsele{
  height: 27px;
  padding: 4px 6px;
  font-size: 12px;
  color: #00ce88;
  background-color: transparent;
  background-image: none;
  border: 1px solid #00ce88;
  border-radius: 50px;
}

.__homep{
  color: #002c1d;
  font-size: 16px;
  font-family: CircularStdBlack;
}

.__homeplink{
  color: #00ce88;
  font-family: CircularStdBlack;
}


.__homecardin{
  background: #ffffff;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  padding: 15px 15px 4px;
   /*margin-top: 10px;*/
}

.__hinp{
  color: #33333375;
  font-size: 16px;
  font-family: Rubik-Medium;
}

.__hoscro{
  background: #ffffff;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  /*margin-bottom: 30%;*/
}

.__hoscro1{
  padding: 15px 15px 0;
}

.__scrollhome {
  max-height: 192px;
  overflow-y: scroll;
  overflow-x: hidden;
  /*visibility: hidden;*/
  position: relative;
}

.__scrollhome::-webkit-scrollbar {
    width: 3px !important;
}

.__scrollhome::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    border-radius: 50px !important;
    background-color: #000000 !important;
}

.__scrollhome::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.16);
}

.next{
  border-radius: 50px;
  font-size: 12px;
  background: transparent;
  color: #00ce88;
  border-color: #00ce88;
  outline: none;
}

.prev{
  border-radius: 50px;
  font-size: 12px;
  background: transparent;
  color: #00ce88;
  border-color: #00ce88;
  outline: none;
}


.box{
  /*color: #fff;*/
  /*padding: 20px;*/
  display: none;
  /*margin-top: 20px;*/
}

.__clockcard{
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px 10px;
}

.__clocklocation{
  color: #00ce88;
  padding: 9px 0 7px 5px;
  margin-bottom: 2px;
}

.__clocktime{
  color: #00ce88;
  border-left: 1px solid #33333359;
  padding: 9px 0 7px 5px;
  margin-bottom: 2px;
}

.__clockdia{
  margin: 50% auto;
}

.__clockmodal{
  border-radius: 20px;
  padding: 10px 20px 20px;
}

.__clockmodalp{
  font-size: 15px;
  font-family: Rubik-Medium;
}






/*=================================================================
footer
==================================================================*/

.__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #efefef;
  background: #ffffff;
  /*text-align: center;*/
}

.__footcard{
  padding: 10px 0 3px;
}
.__footcarda{
  background: #002c1d;
  box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.14);
  padding: 10px 0 3px;
}

.__footp{
  color: #002c1d;
}

.__footpa{
  color: #00ce88;
}
/*footer end*/